.App {
  text-align: center;
  height: 90vh;
  width: auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  background-color: blueviolet;
  color: white;
  align-items: baseline;
  justify-content: space-between;
}

.question {
  display: flex;
  flex-direction: column;
  /* border: 2px solid gray; */
  margin: auto;
  /* background: yellow; */
  width: 50%;
  height: auto;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}

.option {
  text-align: start;
  padding: 0px 20px;
}

.option p {
  /* border: 2px solid gray; */
  padding: 10px;
  /* border-radius: 50px; */
  cursor: pointer;
  background-color: #e5e5e580;
}

.option p:hover {
  background-color: blueviolet;
  color: white;
}

.option p:active {
  background-color: blueviolet;
  color: white;
}

.question h4 {
  text-align: left;
  padding-left: 15px;
  font-weight: 700;
  font-size: 20px;
}

.question button {
  width: fit-content;
  /* border-radius: 50px; */
  padding: 10px 25px;
  font-size: 17px;
  cursor: pointer;
  align-items: fl;
  font-weight: 600;
  background-color: blueviolet;
  border: none;
  color: white;
}

.redirect-btn {
  display: flex;
  justify-content: end;
  padding: 0px 20px;
}

.result-page {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  width: 50%;
}

.result-container {
  height: 90vh;
}

.btn {
  /* border-radius: 50px; */
  padding: 10px 25px;
  font-size: 17px;
  cursor: pointer;
  align-items: fl;
  font-weight: 600;
  background-color: blueviolet;
  border: none;
  color: white;
}

.total-question {
  color: black;
  font-weight: 700;
}

.correct {
  color: green;
  font-weight: 700;
}

.in-correct {
  color: red;
  font-weight: 700;
}

.selected-answer {
  background-color: blueviolet !important;
  color: white;
}

.wrong-answer {
  background-color: red !important;
  color: white;
}

.correct-answer {
  background-color: green !important;
  color: white;
}

.no-hover {
  pointer-events: none;
}

.try-again {
  width: 47vw;
}
